*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    line-height: 1.4;
    font-weight: 300;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Navigation */

nav{
    box-shadow: 5px 5px 5px rgba(1,1,1,0.05);
    position: sticky;
    top: 0;
    margin-bottom: 32px;
    background: white;
    padding: 10px;


}
.navigation{
    display: flex;
    justify-content:space-between ;
    align-items: center;
}


.container{

    max-width: 1200px;
    margin: 0 auto;
}

.bar_icon{
    font-size: 32px;
}
